.App {
  text-align: center;
}

.all-characters {
  color: white;
  width: 100vw;
  display: flex;
}

.loading {
  font-size: 5rem;
}

img {
  height: 100px;
  width: 100px;
}

.single-character {
  color: rgb(39, 39, 39);
  background-color: rgb(247, 194, 194);
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  width: 22vw;
}

footer {
  text-align: end;
  margin-right: .5rem;
  font-style: italic;
}
