.App {
  text-align: center;
}

.all-characters {
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.loading {
  font-size: 5rem;
}

img {
  height: 200px;
  width: 200px;
}

.single-character {
  color: rgb(39, 39, 39);
  width: 220px;
  height: 320px;
  background-color: rgb(247, 194, 194);
  border-radius: 2rem;
  margin: 2rem;
}

footer {
  text-align: end;
  margin-right: .5rem;
  font-style: italic;
}
